input[type="file"] {
    display: $file-inputs-display;
    width: $file-inputs-width;
    height: $file-inputs-height;
    @include margin-shorthand-with-screens-support((
        top: $file-inputs-margin-top,
        bottom: $file-inputs-margin-bottom,
        left: $file-inputs-margin-left,
        right: $file-inputs-margin-right
    ), $file-inputs-margin-for-screens);

    &::-moz-focus-inner,
    &::-moz-focus-outer {
        margin: 0;
        outline: 0;
        border: 0;
        padding: 0;
    }
}