$file-inputs-display: block !default;
$file-inputs-width: 100% !default;
$file-inputs-height: auto !default;

//Magins
$file-inputs-margin-top: $form-item-elements-margin-top !default;
$file-inputs-margin-bottom: $form-item-elements-margin-bottom !default;
$file-inputs-margin-left: $form-item-elements-margin-left !default;
$file-inputs-margin-right: $form-item-elements-margin-right !default;
$file-inputs-margin-for-screens: $form-item-elements-margin-for-screens !default;